<div class="py-5">
  <h2>{{ name }}</h2>
  <button class="btn btn-primary btn-lg" (click)="create()">Create Counter</button>
</div>
<div class="row">
  <counter-detail class="col-4" *ngFor="let counter of counters" [counter]="counter"></counter-detail>
  <div *ngIf="superCounters.length > 0">
    <app-super-counter class="col-5" *ngFor="let superCounter of superCounters" [counter]="superCounter"></app-super-counter>
  </div>
  <div *ngIf="superDuperCounters.length > 0">
    <app-super-duper-counter class="col-6" *ngFor="let sdCounter of superDuperCounters" [counter]="sdCounter"></app-super-duper-counter>
  </div>
</div>
